body {
    background-color: #f4f7f6;
    font-family: 'Arial', sans-serif;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #2c3e50;
    border-bottom: 2px solid #3498db;
    display: inline-block;
    padding-bottom: 10px;
}

#map {
    height: 500px;
    width: 80%;
    margin: 20px auto;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.nav-link {
    text-decoration: none;
    color: white;
    background-color: #3498db;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background 0.3s;
}

.nav-link:hover {
    background-color: #2980b9;
}

.leaflet-popup-content b {
    color: #e67e22;
}

.main-content {
    max-width: 800px;
    margin: 50px auto;
    padding: 30px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.menu {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.affichage-unique {
    margin-top: 30px;
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.affichage-unique img {
    max-width: 100%;
    /* L'image ne dépasse pas la largeur de l'écran */
    max-height: 70vh;
    /* L'image ne dépasse pas 70% de la hauteur de l'écran */
    border-radius: 10px;
    border: 5px solid #fff;
    display: block;
    margin: 0 auto;
    /* Centre l'image */
}

.affichage-unique h3 {
    color: #2c3e50;
    margin-bottom: 15px;
    font-size: 1.2rem;
}

form {
    margin-bottom: 20px;
    background: #ecf0f1;
    padding: 15px;
    border-radius: 8px;
}

select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #bdc3c7;
    width: 100%;
    max-width: 400px;
}